<div class="page-container">
   
      <div class="content">
        <mat-card class="mat-elevation-z4">
          <mat-card-header>
            <mat-card-title>Test</mat-card-title>
          </mat-card-header>
          <img mat-card-image src="./../assets/images/profileImg.png">
          <mat-card-content>
            <p>
              This is test description.........
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>Buy</button>
            <button mat-button>Delete</button>
          </mat-card-actions>
        </mat-card>
      </div>
</div>