<div class="page-container">
    <mat-card class="form-container">
        <mat-card-content>
            <h1>Login</h1>
            <form>
                <mat-form-field class="form-row">
                    <mat-label>Email</mat-label>
                    <input matInput type="email" placeholder="Email" formControlName="email" required>
    
                </mat-form-field>
    
                <mat-form-field class="form-row">
                    <mat-label>Password</mat-label>
                    <input matInput type="password" placeholder="Password" formControlName="password" required>
    
                </mat-form-field>
    
                <button mat-raised-button color="primary">Login</button>
            </form>
        </mat-card-content>
    </mat-card>
</div>

