.bg-dark{
    background-color: #1e1e2f !important;
}



.navbar .photo{
    display: inline-block;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    vertical-align: middle;
    overflow: hidden;
}

.navbar .photo img{
    width: 100%;
}
